## Data merging

In [1]:
import pandas as pd
import numpy as np

In [2]:
def fetch_financial_data(company='AMZN'):
    """Downloads data on stock exchange quotations according 
    to symbols on the website stooq.pl """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

In [5]:
apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data()
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [6]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2020-09-16 to 2015-09-21
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

In [7]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 342 entries, 2020-09-16 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    342 non-null    float64
 1   High    342 non-null    float64
 2   Low     342 non-null    float64
 3   Close   342 non-null    float64
 4   Volume  342 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 16.0 KB

In [8]:
apple.head()

              Open     High     Low    Close     Volume
Date
2020-09-16  115.23  116.000  112.04  112.130  155026675
2020-09-15  118.33  118.829  113.61  115.540  184642039
2020-09-14  114.72  115.930  112.80  115.355  140150087
2020-09-11  114.57  115.230  110.00  112.000  180860325
2020-09-10  120.36  120.500  112.50  113.490  182274391

In [9]:
uber.head()

             Open    High     Low  Close    Volume
Date
2020-09-16  37.39  38.520  37.390  37.66  21786591
2020-09-15  37.95  38.480  37.270  37.47  23532584
2020-09-14  37.10  38.000  37.080  37.95  28016041
2020-09-11  36.30  37.145  36.254  36.98  27130921
2020-09-10  35.20  36.780  35.190  35.98  35468315

In [11]:
apple.columns = ['apple_'+col.lower() for col in apple.columns]
amazon.columns = ['amazon_'+col.lower() for col in amazon.columns]
google.columns = ['google_'+col.lower() for col in google.columns]
uber.columns = ['uber_'+col.lower() for col in uber.columns]

In [12]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2020-09-16      115.23     116.000     112.04      112.130     155026675
2020-09-15      118.33     118.829     113.61      115.540     184642039
2020-09-14      114.72     115.930     112.80      115.355     140150087
2020-09-11      114.57     115.230     110.00      112.000     180860325
2020-09-10      120.36     120.500     112.50      113.490     182274391

In [14]:
df = pd.concat(objs=[apple,amazon,google,uber], axis=1)

In [18]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,45.22,20.74,21.12,27.70,41.58,52.32,137.59
apple_high,1257.00,45.70,21.06,21.51,27.88,41.93,52.91,137.98
apple_low,1257.00,44.77,20.37,21.00,27.61,41.24,51.96,130.53
apple_close,1257.00,45.26,20.73,21.20,27.74,41.51,52.42,134.18
apple_volume,1257.00,139764557.30,64815633.88,46073508.00,95595320.00,122547132.00,165697392.00,565092196.00
amazon_open,1257.00,1408.39,656.86,478.01,809.50,1466.89,1823.12,3547.00
amazon_high,1257.00,1422.92,666.05,493.50,816.02,1501.05,1840.65,3552.25
amazon_low,1257.00,1391.94,646.57,474.00,804.27,1448.45,1807.00,3486.68
amazon_close,1257.00,1408.23,656.42,482.07,810.32,1470.90,1822.49,3531.45
amazon_volume,1257.00,4281444.44,2146768.50,881337.00,2827852.00,3718057.00,5114403.00,16552598.00
google_open,1257.00,1045.46,233.10,625.50,815.00,1059.20,1198.57,1699.52
google_high,1257.00,1055.22,236.41,634.68,822.39,1072.44,1207.15,1726.10
google_low,1257.00,1035.42,230.36,617.84,811.50,1048.55,1186.36,1660.19
google_close,1257.00,1045.80,233.59,622.61,815.24,1057.47,1198.96,1717.39
google_volume,1257.00,1765287.08,864226.79,521141.00,1213343.00,1545534.00,2037263.00,6658855.00
uber_open,342.00,33.81,5.65,15.96,30.11,32.88,37.26,46.98
uber_high,342.00,34.50,5.58,17.80,30.49,33.46,37.88,47.08
uber_low,342.00,33.01,5.67,13.71,29.44,32.13,36.47,45.08
uber_close,342.00,33.79,5.59,14.82,30.12,32.81,37.03,46.38
uber_volume,342.00,24963118.80,20033229.77,3380003.00,10660940.00,21037455.00,32729744.75,186322536.00

In [19]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,0.03,0.94,0.94,0.93,0.93,0.12,0.93,0.93,0.92,0.92,0.06,-0.27,-0.27,-0.25,-0.26,0.10
apple_high,1.00,1.00,1.00,1.00,0.04,0.93,0.94,0.93,0.93,0.13,0.92,0.93,0.92,0.92,0.07,-0.28,-0.28,-0.26,-0.26,0.11
apple_low,1.00,1.00,1.00,1.00,0.02,0.94,0.94,0.94,0.94,0.11,0.93,0.93,0.93,0.93,0.06,-0.27,-0.27,-0.25,-0.26,0.10
apple_close,1.00,1.00,1.00,1.00,0.03,0.93,0.94,0.94,0.94,0.12,0.93,0.93,0.92,0.93,0.06,-0.27,-0.28,-0.26,-0.26,0.10
apple_volume,0.03,0.04,0.02,0.03,1.00,-0.02,-0.01,-0.03,-0.02,0.45,-0.08,-0.07,-0.10,-0.09,0.44,-0.34,-0.32,-0.38,-0.36,0.36
amazon_open,0.94,0.93,0.94,0.93,-0.02,1.00,1.00,1.00,1.00,0.19,0.95,0.95,0.94,0.94,0.08,-0.08,-0.08,-0.07,-0.07,-0.03
amazon_high,0.94,0.94,0.94,0.94,-0.01,1.00,1.00,1.00,1.00,0.20,0.94,0.95,0.94,0.94,0.08,-0.09,-0.09,-0.08,-0.08,-0.02
amazon_low,0.93,0.93,0.94,0.94,-0.03,1.00,1.00,1.00,1.00,0.18,0.95,0.95,0.94,0.95,0.07,-0.08,-0.08,-0.06,-0.07,-0.03
amazon_close,0.93,0.93,0.94,0.94,-0.02,1.00,1.00,1.00,1.00,0.19,0.94,0.95,0.94,0.95,0.07,-0.09,-0.09,-0.08,-0.08,-0.02
amazon_volume,0.12,0.13,0.11,0.12,0.45,0.19,0.20,0.18,0.19,1.00,0.14,0.15,0.12,0.13,0.64,-0.24,-0.22,-0.27,-0.25,0.28
google_open,0.93,0.92,0.93,0.93,-0.08,0.95,0.94,0.95,0.94,0.14,1.00,1.00,1.00,1.00,0.05,-0.17,-0.18,-0.15,-0.16,0.08
google_high,0.93,0.93,0.93,0.93,-0.07,0.95,0.95,0.95,0.95,0.15,1.00,1.00,1.00,1.00,0.06,-0.19,-0.20,-0.17,-0.18,0.10
google_low,0.92,0.92,0.93,0.92,-0.10,0.94,0.94,0.94,0.94,0.12,1.00,1.00,1.00,1.00,0.03,-0.15,-0.17,-0.13,-0.14,0.06
google_close,0.92,0.92,0.93,0.93,-0.09,0.94,0.94,0.95,0.95,0.13,1.00,1.00,1.00,1.00,0.04,-0.18,-0.19,-0.15,-0.16,0.08
google_volume,0.06,0.07,0.06,0.06,0.44,0.08,0.08,0.07,0.07,0.64,0.05,0.06,0.03,0.04,1.00,-0.27,-0.24,-0.29,-0.26,0.34
uber_open,-0.27,-0.28,-0.27,-0.27,-0.34,-0.08,-0.09,-0.08,-0.09,-0.24,-0.17,-0.19,-0.15,-0.18,-0.27,1.00,0.99,0.99,0.99,-0.32
uber_high,-0.27,-0.28,-0.27,-0.28,-0.32,-0.08,-0.09,-0.08,-0.09,-0.22,-0.18,-0.20,-0.17,-0.19,-0.24,0.99,1.00,0.99,0.99,-0.27
uber_low,-0.25,-0.26,-0.25,-0.26,-0.38,-0.07,-0.08,-0.06,-0.08,-0.27,-0.15,-0.17,-0.13,-0.15,-0.29,0.99,0.99,1.00,0.99,-0.34
uber_close,-0.26,-0.26,-0.26,-0.26,-0.36,-0.07,-0.08,-0.07,-0.08,-0.25,-0.16,-0.18,-0.14,-0.16,-0.26,0.99,0.99,0.99,1.00,-0.30
uber_volume,0.10,0.11,0.10,0.10,0.36,-0.03,-0.02,-0.03,-0.02,0.28,0.08,0.10,0.06,0.08,0.34,-0.32,-0.27,-0.34,-0.30,1.00

In [20]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [21]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [22]:
df_closes = df[closes]
df_closes

            apple_close  amazon_close  google_close  uber_close
Date
2015-09-21        26.62        548.39        666.98         nan
2015-09-22        26.20        538.40        653.20         nan
2015-09-23        26.41        536.07        653.29         nan
2015-09-24        26.57        533.75        654.91         nan
2015-09-25        26.50        524.25        640.15         nan
...                 ...           ...           ...         ...
2020-09-10       113.49       3175.11       1526.05       35.98
2020-09-11       112.00       3116.22       1515.76       36.98
2020-09-14       115.36       3102.97       1508.83       37.95
2020-09-15       115.54       3156.13       1535.12       37.47
2020-09-16       112.13       3078.10       1512.09       37.66

[1257 rows x 4 columns]

In [23]:
df_closes.corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.94          0.93       -0.26
amazon_close         0.94          1.00          0.95       -0.08
google_close         0.93          0.95          1.00       -0.16
uber_close          -0.26         -0.08         -0.16        1.00

In [24]:
cls_and_vol = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
df_c_a_v = df[cls_and_vol]
df_c_a_v

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
Date,,,,,,,,
2015-09-21,26.62,217383992,548.39,3283300,666.98,1954600,nan,nan
2015-09-22,26.20,217921596,538.40,3841700,653.20,2718000,nan,nan
2015-09-23,26.41,154771892,536.07,2237571,653.29,1457995,nan,nan
2015-09-24,26.57,217048828,533.75,3499381,654.91,1934252,nan,nan
2015-09-25,26.50,243051812,524.25,4030900,640.15,2423900,nan,nan
...,...,...,...,...,...,...,...,...
2020-09-10,113.49,182274391,3175.11,5330741,1526.05,1651194,35.98,35468315.00
2020-09-11,112.00,180860325,3116.22,5093982,1515.76,1535337,36.98,27130921.00
2020-09-14,115.36,140150087,3102.97,4529596,1508.83,2133007,37.95,28016041.00
2020-09-15,115.54,184642039,3156.13,4021535,1535.12,1152055,37.47,23532584.00
2020-09-16,112.13,155026675,3078.10,4531189,1512.09,1107169,37.66,21786591.00

In [25]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-09-16      37.39      38.52     37.39       37.66     21786591
2020-09-15      37.95      38.48     37.27       37.47     23532584
2020-09-14      37.10      38.00     37.08       37.95     28016041
2020-09-11      36.30      37.15     36.25       36.98     27130921
2020-09-10      35.20      36.78     35.19       35.98     35468315

In [26]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-06-30      30.83      31.25     30.13       31.08     21282810
2020-06-29      29.51      29.75     28.39       29.63     20795402
2020-06-26      30.44      30.44     29.21       29.61     46482331
2020-06-25      30.00      30.86     29.56       30.58     19142789
2020-06-24      32.75      32.93     30.45       30.46     29477229
2020-06-23      32.88      33.21     32.59       33.05     13622126
2020-06-22      32.43      32.85     31.43       32.68     17790276
2020-06-19      33.98      34.02     32.27       32.30     29426285
2020-06-18      33.00      33.44     32.80       33.40     15495838
2020-06-17      33.50      33.59     33.01       33.29     14827742
2020-06-16      34.00      34.17     32.43       33.49     21377119
2020-06-15      31.16      32.68     31.02       32.67     21350290
2020-06-12      32.73      32.74     31.04       32.24     27685169
2020-06-11      32.63      33.24     30.89       31.10     45298714
2020-06-10      36.69      36.80     34.27       34.83     43473719
2020-06-09      36.70      37.33     36.25       36.59     15127269
2020-06-08      37.87      37.90     36.09       37.08     30099525
2020-06-05      37.53      38.78     36.92       37.21     30393429
2020-06-04      36.42      37.30     36.28       36.43     17423577
2020-06-03      36.20      37.37     36.14       36.75     23051776
2020-06-02      36.16      36.42     35.26       35.81     19328415
2020-06-01      35.64      36.39     35.16       35.82     21893806
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

In [27]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-07-31      30.40      30.42     29.79       30.26     16360999
2020-07-30      30.65      30.68     29.97       30.24     13062912
2020-07-29      30.92      31.26     30.77       31.02      8215892
2020-07-28      30.79      31.24     30.35       30.81     12977145
2020-07-27      31.21      31.60     30.75       30.99     10182302
2020-07-24      31.74      31.80     30.47       31.18     16896059
2020-07-23      32.33      33.02     31.98       32.17     12749770
2020-07-22      32.44      32.88     32.33       32.66     12128382
2020-07-21      34.16      34.23     32.53       32.55     16743293
2020-07-20      32.48      33.92     32.35       33.66     16213609
2020-07-17      32.58      32.82     31.85       32.55     13667896
2020-07-16      32.05      32.59     31.55       32.35     11090750
2020-07-15      32.10      32.97     31.68       32.81     20976523
2020-07-14      31.35      31.38     30.48       30.93     21781825
2020-07-13      33.21      33.60     31.66       31.72     19604822
2020-07-10      33.14      33.55     32.65       33.14     13586289
2020-07-09      34.24      34.46     32.26       33.15     25061818
2020-07-08      33.21      33.97     32.68       33.93     24602369
2020-07-07      32.46      33.56     32.39       32.82     34874658
2020-07-06      33.10      33.20     31.76       32.52     42392222
2020-07-02      31.02      31.57     30.51       30.68     14981137
2020-07-01      30.96      31.27     30.16       30.43     13611544
2019-07-31      42.60      42.98     41.84       42.14      5970774
2019-07-30      43.71      43.74     42.49       42.59      7686342
2019-07-29      45.00      45.63     43.12       43.88      8652204
2019-07-26      43.42      44.96     43.39       44.52      7598828
2019-07-25      43.72      43.96     43.21       43.40      4411991
2019-07-24      43.36      43.87     43.36       43.76      3775677
2019-07-23      43.75      44.31     43.11       43.36      5110090
2019-07-22      43.25      43.72     43.01       43.69      3822276
2019-07-19      43.90      44.09     43.16       43.18      4021018
2019-07-18      43.50      43.85     43.19       43.71      4123615
2019-07-17      44.06      44.35     43.52       43.62      5854149
2019-07-16      44.60      44.98     44.02       44.13      5613321
2019-07-15      44.20      44.70     43.97       44.53      5811160
2019-07-12      44.16      44.24     43.39       43.99      8760526
2019-07-11      44.10      44.29     43.31       43.99      8050856
2019-07-10      44.48      44.80     43.56       43.70      9746505
2019-07-09      43.18      44.23     42.98       44.20      5251564
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

In [28]:
uber_6.append(uber_7)

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-06-30      30.83      31.25     30.13       31.08     21282810
2020-06-29      29.51      29.75     28.39       29.63     20795402
2020-06-26      30.44      30.44     29.21       29.61     46482331
2020-06-25      30.00      30.86     29.56       30.58     19142789
2020-06-24      32.75      32.93     30.45       30.46     29477229
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[86 rows x 5 columns]